.listing {
  border-bottom: 1px solid $borderColor;
  &__container {
    padding: 15px 0px 30px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
  }
  &__title {
  }
  &__counter {
  }
  &__table {
    &__row {
      &:first-child td {
        &:last-child {
          border-right: none;
          border-left: 1px solid $borderColor;
        }
      }
    }
    &__cell {
    }
  }
}
