.summary {
  border-bottom: 1px solid $borderColor;
  &__container {
    display: flex;
    padding: 0px;
    padding-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 30px;
    max-height: 580px;
    flex-wrap: wrap;
    max-width: 1180px;
    position: relative;
    padding-top: 20px;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      right: 590px;
      width: 1px;
      height: 540px;
      background-color: $borderColor;
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 540px;
      background-color: $borderColor;
      right: -15px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      width: 535px;
      border-radius: 10px;
      padding: 5px 20px;
      border: 1px solid $borderColor;
      align-items: center;
      position: relative;
      &__link {
        cursor: pointer;
        &__icon {
          cursor: pointer;
          position: absolute;
          top: 7px;
          right: 20px;
          width: 25px;
          height: 25px;
        }
      }
      &__feature {
        font-size: 20px;
      }
      &__value {
        font-family: "Manrope", sans-serif;
        font-size: 22px;
        font-weight: 600;
        margin-right: 35px;

        &--small {
          font-size: 18px;
        }
      }
    }
  }

  &__productList {
    display: flex;
    flex-direction: column;
    max-width: 225px;
    margin-left: 35px;
    gap: 40px;
    &__item {
      &__type {
        font-size: 18px;
        margin-bottom: 14px;
      }
      &__img {
        max-width: 225px;
        height: 225px;
        border-radius: 30px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
      }
    }
  }
}
